 <!-- About Section -->
    <section class="success" id="about2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>When and Where</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                 <div class="col-lg-4 col-lg-offset-2">
                    <p>Hacky Hour is an open and inclusive environment, all are welcome to join in. With support from the <a style='color:blue' href="http://www.eresearch.auckland.ac.nz/en/centre-for-eresearch.html">Center for eResearch</a> there are knowledgeable folk around who can help you with your research or technical questions.</p>
                </div>
                <div class="col-lg-4">
                    <p>Join us from <strong>3-4pm</strong> @ <a style='color:#FFFF00' href="http://pgsa.org.nz/about/post-graduate-commons/">Strata Cafe</a> every Thursday and continue the discussion on <a style='color:#CC3399' href="https://gitter.im/UoA-eResearch/HackyHour">Gitter.</a> Or follow us on <a style='color:blue' href="https://twitter.com/uoahackyhour">Twitter</a>. Bring along your research questions, latest tools to share, or things to hack on - along with your device if you have one - and we look forward to seeing you there!</p>
                </div>
            </div>
        </div>
    </section>