 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hacky Hour is a shared space and place where students and researchers at can congregate to work on their research problems related to code, data, or digital tools in a social environment.</p>
                </div>
                <div class="col-lg-4">
                    <p>Inspired by <span style='color:orange'><a style='color:orange' href="http://melbourne.resbaz.edu.au/">#ResBaz</a></span> and initiatives at <a style='color:#66CCFF' href="http://melbourne.resbaz.edu.au/post/112480096364/running-your-own-hacky-hour">Melbourne Uni</a> we are building a community @ UoA to share skills and knowledge across disciplinary boundaries.</p>
                </div>
            </div>
        </div>
    </section>