    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/hacky.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">Research - Tools - Code - Sharing</span>
                        <br />
                        <span class="skills"><strong>3-4pm</strong> @ <a style='color:#FFFF00' href="http://pgsa.org.nz/about/post-graduate-commons/">Strata Cafe</a> every Thursday</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
